/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body, a, div, .p {
    font-family: arial, sans-serif
}


.School {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;/*убирает двойные линии на стыках в ячейках таблицы*/
}

.School th, table {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 100%;
}

.LastName {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 10%;
}

.FirstName {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 10%;
}

.MiddleName {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 10%;
}

.Visit {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 5%;
}

.FlexTable-Header td{
    padding-top: 8px;/*Отступ текста от верхней границе*/
    padding-bottom: 8px;/*от нижней границе*/
    text-align: left;
    border: 1px solid #ddd;;
    background-color: #4CAF50;
    height: 34px;
    padding-left: 10px;
    color: white;
}
