/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body, a, div, .p {
    font-family: arial, sans-serif
}


.School {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;/*убирает двойные линии на стыках в ячейках таблицы*/
    width: 100%;
    height: 100%;
}

.School td, th, table {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
}


.FlexTable-Header {
    height: 100%;
    width: 100%;
    padding-top: 8px;/*Отступ текста от верхней границе*/
    padding-bottom: 8px;/*от нижней границе*/
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
