/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body, a, div, .p {
    font-family: arial, sans-serif
}


.School {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;/*убирает двойные линии на стыках в ячейках таблицы*/
}

.School th, table {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 100%;
}

.School td {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 10%;
    height: 30px;
}

.Visit {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
    width: 5%;
}

.sendTable {
    border: 1px solid #ddd;
    padding: 8px;
    collor: red;
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
}

.FlexTable-Header td{
    padding-top: 8px;/*Отступ текста от верхней границе*/
    padding-bottom: 8px;/*от нижней границе*/
    text-align: left;
    border: 1px solid #ddd;;
    background-color: #4CAF50;
    height: 25px;
    padding-left: 10px;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}


.sendButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

.Reason {
    border-collapse: collapse;/*Убирает сверху над таблицей линию*/
}

.popUpDialog {
    size: A4;

}

.ReasonSetBox {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 15px;
}